.header {
  background-color: #2F2D2E;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  margin-left: 4.9vw;
  margin-right: 4.9vw;
  width: 1fr;
  height: 12vh;
  display: grid;
  grid-template-columns: 20% 1% 1fr;
  gap: 10px;
  color: black;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
}

.site_links {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center; 
  height: fit-content;
  color: black;
}

.site_links > div:hover {
  color: black;
  text-shadow: 
  0px 8px 4px #b0423eb6,
  8px 0px 4px #629460af,
  0px -8px 4px #81d6e3a8,
  -8px 0px 4px #f2bf78ae;
  cursor: pointer;
}
.link {
  text-decoration: none;
  display: flex; 
  align-items: center;
  transition: all 0.35s ease;
}
.link:hover {
  color: black;
  text-shadow: 
    0px 8px 4px #b0423eb6,
    8px 0px 4px #629460af,
    0px -8px 4px #81d6e3a8,
    -8px 0px 4px #f2bf78ae;
  cursor: pointer;
}
.site_links > .link > h3 {
  width: 100%;
  color: white;
  text-align: center;
  border-right: 1px solid white;
  padding: 5px 0px;
}

.google-login-button-wrapper {
  display: flex;
  align-items: center;

}

.google-login-button {
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background-color: white;
  margin-top: 5px; 
}
.google-login-button:hover {
  background-color: #357ae8;
  color: white;
}
.google_btn{
  display: flex;
  margin-left: auto;
}
.logo{
  width: 15vw;
}
.reg_btn{
  background-color: #81d6e3a8;
  height: 42px;
  margin-right: 10px;
  margin-left: 10px;
}
.reg_btn:hover{
  background-color: #81d6e360;
  color: white;

}
button {
  font-weight: 500;
  margin-left: 10px;
  align-self: center;
  height: 30px;
  width: fit-content;
  background-color: white;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 700px) {
  .header {
    padding-top: 4vh;
    height: 65vh;
    grid-template-columns: 1fr; 
    grid-template-rows: 20% 1fr;
  }
  .site_links{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .site_links > div{
    padding-top: 10px;
  }
  .site_links > .link > h3 {
    margin-top: 0;
    color: white;
    text-align: center;
    border-right: none;
    border-bottom: 1px solid white;
    padding: 5px 0px;
    padding-bottom: 20px;
  }
  .logo{
    width: 100%;
  }
  .temp{
    display: none;
  }
  .google_btn{
    margin-left: 0;
    justify-self: center;
  }
}