.header {
  background-color: #2F2D2E;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  margin-left: 4.9vw;
  margin-right: 4.9vw;
  width: 1fr;
  height: 12vh;
  display: grid;
  grid-template-columns: 20% 10% 1fr;
  gap: 10px;
  color: black;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 20px;
}

.site_links {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  align-items: center; 
  height: fit-content;
  color: black;
}
.site_links > div {
  transition: color 0.35s ease, text-shadow 0.35s ease; 
}

.google-login-button-wrapper {
  display: flex;
  align-items: center;
}

.google-login-button {
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background-color: white;
  margin-top: 5px; 
}

.google-login-button:hover {
  background-color: #357ae8;
  color: white;
}
.logo{
  width: 15vw;

}
.site_links > div > h3 {
  color: #357ae8;
  text-align: center;
  border-right: 1px solid #1b6aea;
  padding: 5px 0px;
}

.site_links > div:hover {
  color: black;
  text-shadow: rgba(240, 255, 255, 0.751) 0px 5px 10px;
  cursor: pointer;
}

button {
  font-weight: 500;
  margin-left: 10px;
  align-self: center;
  height: 30px;
  width: fit-content;
  background-color: white;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .header {
    width: 100%;
    height: 60vh;
    grid-template-columns: 1fr; 
  }
}