.container{
  padding-top: 10px;
  color: black;
  background-color: white;
  padding-bottom: 15px;
  padding-top: 20px;
  padding-right: 3.5vw;
  margin-left: 4.9vw;
  margin-right: 4.9vw;
  min-height: 100vh;
  height: fit-content;
  width: 1fr;
  border: 1px solid black;
  padding-left: 3.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wish_list{
  column-gap: 1px;
  row-gap: 1px;
  margin-top: 10px;
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-auto-rows: 50px;
  width: 100%;
  background-color: black;
}
.wish_list > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
}
.listing{
  background-color: #2F2D2E;
}
.exchange_buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
  padding-block-end: 0!important;
  padding-block-start: 0!important;
  height: 100%;
}
.exchange_buttons > div > img{
  width: 40px;
}
.exchange_buttons > div > img:hover{
  cursor: pointer;
}
.wish_title{
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
  margin: 0; 
  margin-bottom: 10px;
}
.listing_form{
  justify-self: center;
  width: 50%;
  background-color: #2F2D2E;
  color: white;
  padding: 5px;
  padding-bottom: 10px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto repeat(3, auto);
}
.listing_form > h1{
  text-align: center;
  grid-column: span 2;
}

.listing_form > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.listing_form > div > input{
  word-wrap: break-word;
  font-style: normal;
  color: white;
  margin-top: 5px;
  width: 80%;
  border-radius: 10px;
  background-color: #b0423e;
  height: 25px;
  padding-left: 5px;
  border-color: #f2bf78ae;
}
.listing_form > div > input:focus{
  outline: 0;
  border-color: #ffd69d;
  border-style:double;
}
.listing_form > div  {
  grid-column: 1; 
}

.listing_form > div:nth-child(1) {
  grid-row: 2; 
}

.listing_form > div :nth-child(2) {
  grid-row: 3; 
}

.listing_form > div :nth-child(3) {
  grid-row: 4; 
}
.submit_div {
  font-size: x-large;
  color: white;
  grid-column: 2; 
  grid-row: 2 / 5; 
  background-color: #b0423e;
  height: 100px;
  justify-self: center; 
}