.container{
  padding-top: 10px;
  color: black;
  background-color: white;
  padding-bottom: 5px;
  padding-top: 20px;
  margin-left: 4.9vw;
  margin-right: 4.9vw;
  padding-right: 3.5vw;
  height: 100vh;
  width: 1fr;
  border: 1px solid black;
  padding-left: 3.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pending{
  color: white;
  background-color: #2F2D2E;
 
  min-height: 100px;
  height: fit-content;
}
.pending > h2{
  color: gray;
  text-align: center;
  padding-top: 10px;
}
.exchanges{
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns:19% 39% 1fr 10%;
  gap: 1.5px;
  text-align: center;
  width: 100%;
  background-color: black;
}
.exchanges > div{
  padding-block-start: 1em;
  padding-block-end: 1em;
  background-color: #2F2D2E;
}