.vinylBox{
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  position: relative;
  color: black;
  border: 5px solid black;
  border-radius: 5px;
  height: fit-content;
  background-color: rgba(211, 211, 211, 0.216);
  margin-bottom: 10px;
  display: inline-block;
  width: fit-content;
}
.vinylBox > img{
  display: block;
  width: 17vw;
  height: auto;
}
.vinylBox > div{
  display: flex;
  justify-content: space-around;
  background-color: rgba(74,74,74,.9);
  width: 100%;
  padding-bottom: 1fr;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 5%;               
}
.vinylBox  > div >h3 {
  color: #a8e5fa; 
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 16vw;
}
.vinylBox_1{
  border-top: 10px solid #44CCFF;
}
.vinylBox_2{
  border-top: 10px solid #C7CB85;
}
.vinylBox_3{
  border-top: 10px solid #DB4C40;
}

.column{
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 5px;
}
.column > button{
  align-self: baseline;
  margin-left: 0;
  height: 40px;
  width: 100px;
}
.button_zamjena{
  margin-left: auto;
  margin-right: 10px;
  height: 40px;
  width: 100px;
}