.e_container{
  display: grid;
  grid-template-columns:14% 39% 1fr 15%;
  gap: 1.5px;
  text-align: center;
  width: 100%;
  background-color: black;
}
.e_container > h3{
  display: flex;
  justify-content: center; 
  align-items: center;    
}
.vinyl_container{
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.vinyl_container > img{
  height: 100px;
}
.exchange_buttons{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-content: center;
}
.exchange_buttons_double{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.exchange_buttons_double > div{
  width: 40px;
  height: 40px;
  justify-self: center;
}
.exchange_buttons_double > div:hover{
  opacity: 0.5;
  cursor: pointer;
}
.exchange_buttons_double > div > img{
  width: 100%;
}
.exchange_buttons > div{
  width: 40px;
  height: 40px;
  justify-self: center;
}
.exchange_buttons > div:hover{
  opacity: 0.5;
  cursor: pointer;
}
.exchange_buttons > div > img{
  width: 100%;
}
