.exchange_buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
  padding-block-end: 0!important;
  padding-block-start: 0!important;
  height: 100%;
}
.exchange_buttons > div{
  width: 40px;
  height: 40px;
}
.exchange_buttons > div:hover{
  opacity: 0.5;
  cursor: pointer;
}
.exchange_buttons > div > img{
  width: 100%;
}
.user_element{
  white-space: nowrap; 
  text-overflow: ellipsis;
}
.user_element:hover::after {
  content: attr(data-full-text);
  position: absolute;
  background: #2F2D2E;
  color: white;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  transform: translateY(-120%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}