.container{
  padding-top: 10px;
  color: white;
  background-color: white;
  padding-bottom: 5px;
  padding-top: 20px;
  margin-left: 4.9vw;
  margin-right: 4.9vw;
  padding-right: 3.5vw;
  height: fit-content;
  width: 1fr;
  border: 1px solid black;
  padding-left: 3.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.welcome_banner{
  margin-bottom: 10px;
  width: 1fr;
  height: fit-content;
  color: white;
  display: grid;
  grid-template-columns: 50% 50%;
}
.image_crop{
  width: 100%;
  height: 100%;     
  background-image: url('/public/images/gramofon_banner.jpg'); 
  background-size: cover;
  background-position: center; 
  overflow: hidden;     
}
.banner_text{
  min-height: 30vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #2F2D2E;
  justify-content:top;
  padding-left: 10px;
  padding-right: 20px;
}
.banner_text > p{
  font-family: Tahoma;
  font-size: 1.2rem;
}
.filter{
  padding-left: 10px;
  padding-right: 10px;
  height: fit-content;
  width: 1fr;
  color: black;
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.select{
  justify-self: auto;
  width: 12vw;
  min-width: 100px;
  padding: 6px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.block_header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block_header > h2{
  color: white;
  font-family: Tahoma;
  font-size: 1.5rem;
}
.genre_select{
  color: white;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
u{
  color: #DB162F;
}
i{
  color: #8CB369;
}
.content_bg{
  background-color: #2F2D2E;
}
.icon_contain{
  background-color: white;
  border-radius: 4px;
  height: 32.8px;
  width: 32.8px;
  border: none;
  padding: 0;
  padding-top: 1.4px;
}
.icon_contain > img{
  height: 30px;
}
hr{
  margin-top: 30px;
  border-color: white;
  width: 50%;
}
.input_fields{
  align-self: baseline;
}
@media (max-width: 700px){
  .welcome_banner{
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr;
  }
  .filter:first-of-type{
    margin-top: 25vh;
  }
  hr{
    margin-top: 20px;
  }
  .block_header > h2{
    color: white;
    font-family: Tahoma;
    font-size: 1rem;
  }
  .block_header{
    flex-direction: column;
  }
  .genre_select{
    margin-left: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 350px){
  .filter:first-of-type{
    margin-top: 30vh;
  }

}